/*div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}*/
.wanews-list {
/*	width: 695px;
	float: left;*/
}
.wanews-list .news-item {
	float: left;
	display: inline-block;
	width: 100%;
	/*margin-bottom: 40px;*/
	margin: 10px 0; 
	position: relative;
	height: 100px;
}
.wanews-list .news-item img {
	float: left;
	width: 100px;
	height: auto;
}
.wanews-list .news-text {
	float: left;
	width: 180px;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 0 0 10px;
}
.wanews-list .news-text a {
	display: block;
	float: left;
	width: 100%;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	color: #292d34;
}
.wanews-list .news-prevtext {
	width: 100%;
	float: left;
	color: #818181;	
	font-size: 12px;
	font-weight: 300;
}
.wanews-list .news-date-time{
	position: absolute;
	top: 78px; left: 110px;
	padding: 5px;
	font-size: 10px;
	font-weight: 300;
	background: #77B8E6;
	color: #fff;
	display: block;
}