.panel_category {
    padding: 20px 30px;
    float: left;
    position: relative;
    width: 920px;
    height: 330px;
    margin: 20px auto;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,.15);
    color: #e7c05c;
    text-shadow: 0px 1px 1px rgba(0,0,0,.1);
}
.panel_category h4 {
	font-size: 30px;
	color: #0e66a1;
}
.panel_category span {
	font-size: 15px;
	font-weight: 700;
}
.panel_category p {
	margin: 0;
	padding: 0;
	font-size: 15px;
}