/*div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}*/
.news-list {
/*	width: 695px;
	float: left;*/
}
.news-item {
	float: left;
	/*display: inline-block;*/
	width: 310px;
	/*margin-bottom: 40px;*/
	margin: 0 10px 20px 10px; 
	position: relative;
	height: 395px;
}
.news-item img {
	float: left;
	width: 100%;
	height: auto;
}
.news-text {
	float: left;
	width: 100%;
	box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
}
.news-text a {
	display: block;
	float: left;
	width: 100%;
	color: #000;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
}
.news-prevtext {
	width: 100%;
	float: left;
	color: #818181;	
	font-size: 12px;
	font-weight: 300;
}
.news-date-time{
	position: absolute;
	top: 10px; left: 10px;
	padding: 5px;
	font-size: 10px;
	font-weight: 300;
	background: #77B8E6;
	color: #fff;
}