.bx-auth-profile {
	font-family: Arial,Helvetica, sans-serif;
    background: #fff;
    padding: 20px;
    margin: 20px 0
}
.bx-auth-profile h1
{
	font-weight: 700;
	font-size: 18px;

}

.bx-auth-profile form {
	width: 60%;
}
.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}
.profile-table input {
/*	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #77B8E6;*/
width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
    outline: none;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    background: #fff;
    box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
    color: #000;
    vertical-align: middle;
    font-size: 14px;
    max-width: 400px;
}
.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}

div.bx-auth-profile input.bx-auth-input {vertical-align:middle;}
div.bx-auth-profile span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-profile div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-profile div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

