/*div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}*/
.catalog-section-list {
	width: 300px;
    /* padding: 10px; */
	margin: 0 10px 20px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
    float: left;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
	height: 395px;
	/*display: none;*/
}
.catalog-section-list .title {
	float: left;
	width: 100%;
	font-weight: 700;
	font-size: 23px;
	margin-bottom: 20px;
}
.catalog-section-list ul {
	padding: 0;
	margin: 0;
	width: 100%;
}
.catalog-section-list ul li {
	padding: 0;
	margin: 0;
	list-style: none;
	float: left;
	width: 260px;
	padding: 5px 10px;
	border-bottom: 1px solid #DBDBDB;
}
.catalog-section-list ul li a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
}