.bx-breadcrumb {
	margin: 10px 0;
	/*margin-top: -5px;*/
	background: #fff;
	border-radius: 4px;
	float: left;
	width: 100%;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
}
.bx-breadcrumb i {
	color: #b5bdc2;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item {
	float: left;
	white-space: nowrap;
	/*line-height: 13px;*/
	vertical-align: middle;
	margin-right: 0px;
	padding: 10px;
}
.bx-breadcrumb .bx-breadcrumb-item span {
	font-family: Arial, Helvetica , sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.bx-breadcrumb .bx-breadcrumb-item a {border-bottom: none; color: #4086B5; text-decoration: none;}
.bx-breadcrumb .bx-breadcrumb-item a:hover {}
