.bx_filter {
	width: 225px;
	/*padding: 10px;*/
	margin-right: 20px;
	float: left;
	position: relative;
	font-family: "FedraSansProNormal", sans-serif;
    font-size: 18px;
    font-weight: 400;
	background: #fff;
}
.bx_filter_parameters_box, .jew_type  {
	position: relative;
	float: left;
	width: 225px;
}
.jew_type a {
	padding: 3px 10px;
	font-size: 14px;
	color: #000;
	/*background: #4086B5;*/
	font-weight: 400;
	position: relative;
	text-decoration: none;
	display: block;
}
.jew_type .children {
	float: left;
	margin-top: 6px;
	margin-left: 20px;
}
.jew_type .parent {
	float: left;
	width: 100%;
}
.jew_type label {
	position: relative;
	width: 198px!important;
	padding-left: 5px!important;
}
.jew_type label:after, .jew_type label:before 
{
    content: '';
    position: absolute;
    left: 0;
}
.jew_type label:after {
	border-left: 1px solid #4086B5;
    height: 24px;
    width: 0px;
    top: -14px;

}
.jew_type label:before  {
    border-top: 1px solid #4086B5;
    top: 10px;
    width: 9px;
    height: 0;
}
.bx_filter_parameters_box_title {
	padding: 10px;
	font-size: 14px;
	color: #000;
	/*background: #4086B5;*/
	font-weight: 700;
	margin: 0 0 5px 0;
	border-bottom:1px solid #4086B5;
	position: relative;
}
.bx_filter_parameters_box_title span {
	/*position: absolute;
	width: 4px;
	height: 100%;
	background: #4086B5;
	left: 0; top: 0;*/
	}
.bx_filter_parameters_box_container label {
	width: 219px;
	font-size: 12px;
	float: left;
	padding: 3px;
	cursor: pointer;
}
.spoil_title, .spoil_close {
	width: 100%;
		font-weight: 400;
		font-size: 10px;
	color: #000;
	background: #4086B5;
	/*border-top: 2px solid #EEBC23;*/
	text-align: center;
	cursor: pointer;
	float: left;
	opacity: 0.7;
}

.spoil, .spoil_close {
	display: none;
}
.bx_filter_search_button, .bx_filter_search_reset, .bx_filter_popup_result {
	/*display: none;*/
}
.bx_filter_popup_result {
	position: absolute!important;
	left: -9999px!important;
}
.bx_filter_parameters_box .disabled {
	color: #9b9b9b;
}
.sections {
	width: 100%;
	float: left;
	margin-top: 0px;
	background: #fff;
	margin-bottom: 20px;
}
.secondSec_block {
	display: none;
	z-index: 150;
	position: absolute;
	top: 37px;
	width: 600px;
	background: #fff;
	border-left: 1px solid #4086B5;
	border-bottom: 1px solid #4086B5;
	border-right: 1px solid #4086B5;
	border-top: 1px solid #4086B5;
}
.firstSec {
	position: relative;
	float: left;
}
.firstTitle {
	float: left;
	padding: 10px 0;
	width: 200px;
	font-family: "FedraSansProNormal", sans-serif;
    font-size: 14px;
    font-weight: 700;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
.firstSec:hover .secondSec_block {
	display: block;
}
.firstSec:nth-child(3) .secondSec_block{
	right: 0px!important;
	left: none!important;
}
.firstSec:nth-child(4) .secondSec_block{
	right: 0px!important;
	left: none!important;
}
.firstSec:hover .firstTitle {
	background: #4086B5;
	color: #fff;
}
.secondSec {
	float: left;
	width: 160px;
	padding: 10px 20px;
	font-family: "FedraSansProNormal", sans-serif;
    font-size: 14px;
    font-weight: 400;	
	cursor: pointer;
}
.secondSec:hover {
	background: #EEBC23;
}
.disabled3 {
display: none;
}