.panel_big {
	width: 735px!important;
	height: 300px!important;
	margin-top: 0!important;
}
.catalog_item:hover .scupanel {
/*	display: block;*/
}
.catalog_item:nth-child(4n+4) .scupanel {
	right: 175px!important;
	left: auto!important;
	border: 1px solid rgba(64,134,181,.5);
	border-right: none;
	width: 189px;
}
.catalog_item:nth-child(4n+4) .scupanel .scubuy  {
		/*left: -1px;*/
}
/*.catalog_item:nth-child(4n+4) .scupanel form {
	float: left!important;
}*/
.scupanel {
	display: none;
	position: absolute;
	top: -1px;
	left: 175px;
	width: 180px;
	height: 270px;
	background: #F2F8FD;
	z-index: 90;	
	border: 1px solid rgba(64,134,181,.5);
	border-left: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px;
	font-size: 12px;
	color: #818181;
}
.scubuy {
	position: absolute;
	width: 80%;
	text-align: center;
	background: #F05563;
	bottom: 5%;
	left: 10%;
	right: 10%;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0;
	text-transform: uppercase;
	cursor: pointer;
	z-index: -1;
}
/*.scupanel form {
	width: 180px;
	float: right;
	height: 100%;
	background: #e3e3e3;
}*/
.scusize {
	width: 89%;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 0;
	margin-left: 5%;
	text-transform: uppercase;
	background: #fff;
	position: relative;
	border: 1px solid #4086b5;
	margin-top: 20px;
	/*overflow: hidden;*/
	cursor: pointer;
}
.scusize span {
	width: 20%;
	padding-top: 3px;
	display: block;
	position: absolute;
	height: 21px;
	background: #e7c05c;
	right: 0px;
	top: 0px;
	color: #fff;
}
.scusize .inp {
	text-align: left;
	padding-left: 10px;
}
.scusize ul {
	display: none;
	background: #fff;
	margin: 6px 0 0 0;
	padding: 0px;
	position: absolute;
	top: -6px; left: -1px;
	width:  100%;
	max-height: 300px;
	overflow-y: auto;
	z-index: 150;
	border-right: 1px solid #4086b5;
	border-left: 1px solid #4086b5;
	border-bottom: 1px solid #4086b5;
}
.scusize ul li {
	padding: 5px 0 5px 10px;
	text-align: left;
	list-style: none;
}
.scusize ul li:hover {
	background: #77B8E6;
	color: #fff;
}
.scuh {
	display: none!important;
}
.wascuhidd {
	display: none;
}
.washadow {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.5);
	display: none;
	z-index: 1000;
}
.wabuywindow {
	position: absolute;
	width: 20%;
	height: 40px;
	top: 40%;
	left: 0; right: 0; bottom: 0;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #e7c05c;
}
.wagreen {
	background: #34bf49;
}