/*div#wait_waJewmarket {
	position: fixed!important;
	width: 100%!important;
	height: 100%!important;
	top: 0!important; left: 0!important; bottom: 0!important; right: 0!important;
	background: rgba(0,0,0,.2)!important;
	z-index: 10000!important;	
	padding: 0!important;
	border: 0!important;
	font-size: 0px!important;
}
div#wait_waJewmarket:after {
	content: " ";
	width: 270px; height: 270px;	
	position: absolute;
	top: 42%; left: 0px; bottom: 0px; right: 0px;
	margin: 0 auto;
	background-image: url(ajax/images/waJewAjaxLoader.gif);
	background-position: center;
}*/