.bx_catalog-compare-list {
	position: fixed;
	width: 0;
	top: 30%;
	left: 0;
  z-index: 990;

  &.slideInLeft,
  &.slideOutLeft {
		width: 270px;
  }
	
	.compare-list-button {
		position: absolute;
		right: -31px;
		top: 0;
		display: inline-block;
		z-index: 3;
		width: 32px;
		height: 162px;
		@include box-shadow(0 6px 12px rgba(0,0,0,.175));

		> div {
			@include rotate(-90deg);
			margin-top: 130px;
		}

	}

	.bx_catalog_compare_form {
		position: relative;
	  float: none;
	  margin: 0;
	}

	.compare-items {
		margin: -10px 0;
	}

	.compare-item {
		padding: 10px 0;
		border-top: 1px solid $panel-inner-border;

		&:first-child {
			border-top: 0;
		}

	}

	.image {
		position: relative;
		display: inline-block;

		&:before {
			font-family: FontAwesome;
			content: $fa-var-times;
			@include rempxem(font-size, $font-size-root, $font-size-base);
			position: absolute;
			top: 0;
			right: 0;
		}

	}

	.compare-name {
		color: $gray-darker;
	}

}