.footer-list {

	a {
		display: inline-block;
		padding: 7px 7px;
    clear: both;
    font-weight: normal;
		line-height: $line-height-base;
    color: $dropdown-link-color;

    &:focus,
		&:hover {
			color: $dropdown-link-color;
		}

	}

}