.hsearch {

	.form-group {
		margin-bottom: 0;
	}

	.form-control {
		background-color: $hsearch-form-control-bg;
		border-color: $hsearch-form-control-border-color;
		box-shadow: none;
	}

}

.hsearch,
.navbar-form {

	.input-group-btn {

		.btn {
			background-color: $hsearch-form-btn-bg;
			border-color: $hsearch-form-btn-border-color;
			outline: none;
			height: $input-height-base;

			&:hover,
			&:active {
				background-color: $hsearch-form-btn-bg;
				border-color: $hsearch-form-btn-border-color;
				box-shadow: none;
			}

			&:before {
				font-family: FontAwesome;
				content: $fa-var-search;
				@include rempxem(font-size, $font-size-root, $font-size-base + 1);
			}

			> span {
				display: none;
			}

		}

	}

}

.navbar-form {

	.form-group,
	.input-group {
		width: 100%;
	}

	.input-group-btn {

		.btn {
			background-color: #fff;
			border-color: #fff;
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
			
			&:hover,
			&:active {
				background-color: #fff;
				border-color: #fff;
				box-shadow: none;
			}

		}

	}

	.form-control {
		background-color: #fff;
		border-color: transparent;
		box-shadow: none;
		border-radius: 25px;
	}

}

.catalog_menu {

	&.type_1 {

		.navbar-form {
			margin: 0;

			.input-group-btn {

				.btn {
					background-color: $hsearch-form-btn-bg;
					height: $input-height-large;
			    border: 1px solid rgba(0, 0, 0, 0.15);
			    background-clip: padding-box;
			    border-left: 0;

					&:hover,
					&:active {
						background-color: $hsearch-form-btn-bg;
						border: 1px solid rgba(0, 0, 0, 0.15);
						border-left: 0;
					}

				}

			}

			.form-control {
				background-color: $hsearch-form-control-bg;
				border-color: $hsearch-form-control-border-color;
				height: $input-height-large;
		    padding: $padding-large-vertical $padding-large-horizontal;
		    line-height: $line-height-large;
        border: 1px solid rgba(0, 0, 0, 0.15);
		    background-clip: padding-box;
			}

		}

	}

}

.title-search-result {
	min-width: 300px;
}

// ajax
.bx_searche {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: $zindex-dropdown;
	float: left;
	min-width: 160px;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: $font-size-base;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;

  .panel-body {
  	margin-top: -10px;
  }

  .item {
  	padding: 10px 0;
  	border-top: 1px solid $panel-inner-border;

  	&:first-child {
  		border-top: 0;
  	}

  }

  .bx_item_element {

  	h5 {
  		margin-top: 0;
  	}

  	a {
  		color: $gray-darker;
  	}

  }

  .content_price {

  	> span {
  		display: block;
  	}

  }

}

//
// Mobile
//////////////////////////////
.mobile-search-button {
	color: $header-mobile-color !important;
	text-decoration: none !important;

	&:before {
		font-family: FontAwesome;
		content: $fa-var-search;
		@include rempxem(font-size, $font-size-root, $header-mobile-font-size);
	}

}

.mm-search {

	.mobile-search-button {
		color: $text-color !important;
		border: 1px solid $input-border;
		background-color: $hsearch-form-control-bg;
		border-color: $hsearch-form-control-border-color;
		height: $search-mobile-height;
		width: 100%;
		display: block;
		text-align: center;
		outline: none;

		&:before {
			@include rempxem(margin-right, $font-size-root, 6px);
		}

	}

}

#search-overlay {
	display: none;
	width: 100vw;
	height: 100%;
	bottom: -100vh;
	@include transition(bottom .4s ease .06s,opacity .4s ease .06s);
	@include transition(bottom 750ms cubic-bezier(0.77,0,0.175,1),height 750ms cubic-bezier(0.77,0,0.175,1));
	opacity: 0;
	position: fixed;
	background-color: #fff;

	&[data-state="opened"] {
		display: block;
		bottom: 0;
	}

	&[data-state="opened"],
	&[data-state="closed"] {
		z-index: 1000000;
		opacity: 1;
	}

	.hsearch-container {
		margin: 10px;
	}

	.form-control {
		background-color: $hsearch-form-control-bg;
		border-color: $hsearch-form-control-border-color;
		box-shadow: none;
		height: $search-mobile-height;
	}

	.input-group-btn {

		> .btn {
			background-color: $hsearch-form-btn-bg;
			border-color: $hsearch-form-btn-border-color;
			outline: none;
			height: $search-mobile-height;

			&:hover,
			&:active {
				background-color: $hsearch-form-btn-bg;
				border-color: $hsearch-form-btn-border-color;
				box-shadow: none;
			}

			&.search {

				&:before {
					font-family: FontAwesome;
					content: $fa-var-search;
					@include rempxem(font-size, $font-size-root, $font-size-base + 1);
				}

			}

			&:not(.search) {
				@include rempxem(width, $font-size-root, 30px);
			}

			> span {
				display: none;
			}

		}

	}

}

#search-overlay-close {

	&:before {
		content: "";
		border: 1px solid #000;
		@include rotate(-45deg);
		border-top: none;
		border-right: none;
		border-left: none;
		position: absolute;
		left: -1px;
		top: 40%;
		width: 21px;
		height: 6px;
	}

	&:after {
		content: "";
		border: 1px solid #000;
		@include rotate(45deg);
		border-top: none;
		border-right: none;
		border-left: none;
		position: absolute;
		left: 2px;
		top: 40%;
		width: 21px;
		height: 6px;
	}

	&:hover {

		&:before {
			border-color: #000;
		}

		&:after {
			border-color: #000;
		}

	}

}

#search-scrim {

	&.opened {
		height: 100vh;
		width: 100vw;
		opacity: .5;
		background-color: #000;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999999;
	}

}