.owlslider {

	@media (max-width: $screen-sm-max) {

		li,
		.owlslider-table-td {
			height: 40vw !important;
		}

	}

	@media (max-width: $screen-xs-max) {

		& {
			padding-bottom: 40px;
		}

	}

	.owl-item {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
	}

	.item {

		&-container {
			position: relative;
		}

		&-image {
	    position: absolute;
    	top: 0;
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;


			&-link {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

	}

	.owl-nav {
		width: 100%;
		opacity: 0;
		@include transition(all 0.45s ease);
		position: absolute;
		top: 50%;
		@include translate(0,-50%);

		> div {
			width: 50px;
			height: 80px;
			text-align: center;
			color: #000;
			padding: 13px 0px;
			background-color: #fff;
			font: normal normal normal 50px/1 FontAwesome;
			opacity: .2;
			@include transition(all 0.45s ease);
			position: absolute;
			top: 50%;
			@include translate(0,-50%);

			&:hover {
				opacity: 1;
			}

		}

		.owl-prev {
			left: 0;

			&:before {
				content: $fa-var-angle-left;
			}

		}

		.owl-next {
			right: 0;

			&:before {
				content: $fa-var-angle-right;
			}

		}

	}

	&:hover .owl-nav {
		opacity: 1;
	}

	.owl-dots {
		position: absolute;
		bottom: 5%;
		left: 50%;
		@include translate(-50%, -50%);

		> .owl-dot {
			width: 14px;
			height: 14px;
			float: left;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: 2px;
				right: 2px;
				top: 2px;
				bottom: 2px;
				border-radius: 50%;
				background-color: #404040;
				@include transition(background-color 300ms ease-in-out);
			}

			&.active:before,
			&:hover:before {
				content: "";
				background-color: $brand-primary;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}

		}

		> .owl-dot + .owl-dot {
			margin-left: 5px;
		}

		@media (max-width: $screen-xs-max) {

			> .owl-dot {
				width: 12px;
				height: 12px;
			}

			> .owl-dot + .owl-dot {
				margin-left: 14px;
			}

		}

		@media (max-width: $screen-xs-max) {

			& {
				bottom: -35px;
			}

		}

	}

	&-table {
		display: table;
    position: relative;
    z-index: 2;

		&-tr {
			display: table-row;
		}

		&-td {
			display: table-cell;
			vertical-align: middle;
		}

		&-text {
			margin-bottom: ($line-height-computed / 2);
		}

	}

	.btn {
		position: relative;
		z-index: 10;

		@media (max-width: 480px) {

			& {
				@include rempxem(font-size, $font-size-root, $font-size-small);
				@include rempxem(padding, $font-size-root, $padding-small-vertical);
				line-height: $line-height-small;
			}

		}

	}

	.h1 {
		margin-top: 0;

		@media (max-width: $screen-xs-max) {

			& {
				font-size: 4vw !important;
				line-height: 5vw !important;
				color: #000 !important;
			}

		}

	}

	.item__image {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
	}

	.item___image {

		&.right {
			top: 0;
	    right: 0;
	    position: absolute;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: right bottom;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
		}

		&.left {
			top: 0;
	    left: 0;
	    position: absolute;
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: left bottom;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
		}

	}

}