.panel_big {
	width: 735px!important;
	height: 300px!important;
	margin-top: 0!important;
}
.catalog_item {
	display: inline-block;
/*	min-height: 220px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
.catalog_item i {
	display: none!important;
}
.catalog_item .hidden {
	display: none!important;
}
.catalog_item .pic {
	max-height: 190px;
	overflow: hidden;
	display: inline-block;
	text-align: left;
	position: relative;
}
.catalog_item .price {
    position: absolute;
    padding: 5px;
    top: 5%;
    left: 0px;
    display: block;
    color: #B5B5B5;
    font-size: 12px;
    text-decoration: none;
    text-align: left!important;
    /* background: rgba(119,184,230,.3); */
    border-radius: 4px;
    border: 1px solid rgba(119,184,230,.5);
}
.catalog_item .ppic {
	display: inline-block;
	width: 100%;
	min-height: 220px;
	position: relative;
}
.catalog_item .ppic img {
	display: inline-block;
/*	position: absolute;
	top: 0px; left: 0px;*/
/*	vertical-align: middle!important;*/
/*	margin-top: 50%;*/
}
.catalog_item .title {
	
}
.catalog_item .title a {
	color: #428bca;
    text-decoration: none;
}
.catalog_item .articul {
	font-size: 12px;
    color: #B5B5B5;
}
}